fastapi==0.111.0
uvicorn[standard]==0.30.0
opencv-python-headless==4.9.0.80
mrcfile==1.5.3
tifffile==2024.5.22
Pillow==10.3.0
numpy==1.26.4
scipy==1.13.0
scikit-image==0.23.2
reportlab==4.2.0
python-multipart==0.0.9
aiofiles==23.2.1
matplotlib==3.9.0
